// app global css
body
  font-family 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif
  font-weight 400
  color #333

.text-refer-blue {
  color: #0100CA;
}

.bg-refer-blue {
  background: #0100CAl;
}

.text-refer-red {
  color: #ED2326;
}

.bg-refer-red {
  background: #ED2326;
}

.refer-input {
  color: #555;
  // border-color: #4a4a4a;
  .q-field__inner {
    // border: 1px solid red;
  }

  .q-field__control::before {
    border-color: #4a4a4a;
  }

  &.q-btn {
    color: #fff;
    background-color: #4a4a4a;
    border-radius: unset;
  }
}