// app global css
body
  font-family 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif
  font-weight 400
  color #333

.text-h5 {
  font-weight: 500;
}

.refer-input {
  color: #555;
  // border-color: #4a4a4a;
  .q-field__inner {
    // border: 1px solid red;
  }

  .q-field__control::before {
    border-color: #4a4a4a;
  }

  &.q-btn {
    color: #fff;
    background-color: #4a4a4a;
    border-radius: unset;
  }
}